@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.form {
  box-sizing: border-box;
}

.form::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
    115deg,
    rgba(34, 193, 195, 0.9),
    rgba(253, 187, 45, 0.75)
  ),
    url(https://img.grouponcdn.com/seocms/e1smuqo3EK8pSBJUafFEfFAjqnt/two-people-working-on-laptops-01_jpg-600x390);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form{
  text-align:center;
  margin:0;
}
h1{
   font-family: 'Poppins', sans-serif;
   margin-bottom: 0;
}

label {
   font-family: 'Poppins', sans-serif;
}

h1{
  margin-top: 4%;
}
form{
  background-color: rgba(239,243,198,0.75);
  box-shadow: 2px 5px 10px rgba(0,0,0,0.4);
  border-radius: 5px;
  padding: 25px 20px;
  max-width: 450px;
  margin: 40px auto;
}
button{
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
}
.form-control{
  text-align: left;
  margin-bottom: 20px;
}
.form-control label{
  display:block;
  margin-bottom: 6px;
}
.form-control input, .form-control select, .form-control textarea{
  border: 1px solid #777;
  background-color: white;
  border-radius: 2px;
  padding: 10px;
  display: block;
  width: 100%;
  font-family: inherit;
}
.form-control input[type="checkbox"]{
  display:inline-block;
  width:auto;
}
.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #222;
}

.error-message {
   color: #D8000C;
   font-family: sans-serif;
   font-size: 15px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #09c46b;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}