body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

/* for if you want to include a title */
.Map > h1 {
  position: absolute;
  user-select: none;
  top: 1rem;
  left: 1rem;
  color: #281414;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.searchbar {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
  transition: 850ms;
}

.searchbar.shifted {
   left: 60%;
   transition: 350ms;
}

.searchbar input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.centerToUser {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  z-index: 10;
}

.centerToUser img {
  width: 50px;
  cursor: pointer;
}

.home {
  position: absolute;
  bottom: 1.5rem;
  right: 3.5rem;
  background: none;
  border: none;
  z-index: 11;
  width: 65px;
  cursor: pointer;
}

.filterButton {
   width: 250px;
   height: 50px;
   border: none;
   outline: none;
   color: #fff;
   background: #00bfff;
   cursor: pointer;
   position: absolute;
   z-index: 0;
   border-radius: 10px;
   bottom: 0;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   font-size: 20px;
}

.filterButton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.filterButton:active {
    color: #000
}

.filterButton:active:after {
    background: transparent;
}

.filterButton:hover:before {
    opacity: 1;
}

.filterButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00bfff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media screen and (max-width: 960px) {
   .searchbar.shifted {
      left: 65%;
   }
   .searchbar {
      max-width: 350px;
   }
}

@media screen and (max-width: 850px) {
   .searchbar.shifted{
      max-width: 300px;
      left: 70%;
   }
}

@media screen and (max-width: 728px) {
   .filterButton{
      width: 70vw;
   }
}

/* SIDEBAR */
.menu-button {
  display: flex;
  z-index: 9998;
  position: fixed;
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  background: none;
}

.menu-button.invisible {
  display: none;
}

.cross {
  color: #e4f6f8;
  margin-left: 19.5rem;
}

.side-menu {
  background-color: #fff;
  width: 350px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 9999;
}

.side-menu.active {
  left: 0;
  transition: 350ms;
}

.sidebar-header {
  background-color: #00bfff;
  width: 100%;
  height: 65px;
  display: flex;
}

.side-menu-items {
  width: 100%;
}

.side-menu-items h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media screen and (max-width: 728px) {
   .side-menu {
      width: 100vw;
   }
   .cross{
      margin-left: 95vw;
   }
}
