.menu-button {
  display: flex;
  z-index: 9998;
  position: fixed;
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  background: none;
}

.menu-button.invisible {
  display: none;
}

.cross {
  color: #e4f6f8;
  margin-left: 19.5rem;
}

.side-menu {
  background-color: #fff;
  width: 350px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 9999;
}

.side-menu.active {
  left: 0;
  transition: 350ms;
}

.sidebar-header {
  background-color: #00bfff;
  width: 100%;
  height: 65px;
  display: flex;
}

.side-menu-items {
  width: 100%;
}

.side-menu-items h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media screen and (max-width: 728px) {
   .side-menu {
      width: 100vw;
   }
   .cross{
      margin-left: 95vw;
   }
}
